@import 'devicon/devicon.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

body.dark {
    @apply bg-gray-900 text-gray-50;
}

body:not(.dark) {
    @apply bg-white text-gray-900;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}
